<li>
    {{burger_name}}

    <button {{#if devoured}} class="devour" {{else}} class="delete" {{/if}} data-id="{{id}}" data-eaten="{{devoured}}">
        {{#if devoured}}Devour{{else}}Delete{{/if}}
    </button>
    <br><br>
</li>